{%- liquid
  assign header_settings = section.settings

  if header_settings == blank
    assign logo_text = shop.name
    assign logo_line1 = 'GLOW'
    assign logo_line2 = 'DECK'
    assign two_line_logo = false
    assign logo_image = blank
    assign logo_image_before_scroll = blank
    assign logo_image_after_scroll = blank
    assign logo_width = 200
    assign logo_max_height = 60
    assign logo_font_size = 24
    assign logo_color = '#8B6F47'
    assign logo_color_before_scroll = '#8B6F47'
    assign logo_color_after_scroll = '#000000'
    assign menu = 'main-menu'
    assign menu_alignment = 'right'
    assign menu_font_size = settings.menu_font_size | default: 16
    assign menu_font_weight = settings.menu_font_weight | default: '500'
    assign menu_link_spacing = settings.menu_link_spacing | default: 8
    assign menu_link_color = settings.menu_link_color | default: '#8B6F47'
    assign menu_link_hover_color = settings.menu_link_hover_color | default: '#FF6B35'
    assign desktop_menu_color_before_scroll = '#8B6F47'
    assign desktop_menu_color_after_scroll = '#333333'
    assign dropdown_bg_color = settings.dropdown_bg_color | default: '#FFFFFF'
    assign dropdown_link_color = settings.dropdown_link_color | default: '#333333'
    assign dropdown_hover_bg_color = settings.dropdown_hover_bg_color | default: '#FFF8E7'
    assign dropdown_hover_color = settings.dropdown_hover_color | default: '#FF6B35'
    assign header_bg_color = '#FFFFFF'
    assign header_shadow = true
    assign header_style = 'fixed'
    assign fixed_position = 'top'
    assign position_top = 0
    assign position_bottom = 0
    assign position_left = 0
    assign position_right = 0
    assign header_z_index = 1000
    assign make_header_transparent = false
    assign transparent_on_homepage = false
    assign header_padding_top = 16
    assign header_padding_bottom = 16
    assign header_margin_top = 0
    assign header_margin_bottom = 0


    assign show_mobile_menu = true
    assign mobile_menu_icon_color = '#333333'
    assign mobile_menu_icon_size = 24
    assign mobile_menu_border_color = '#333333'
    assign mobile_menu_border_width = 1
    assign mobile_menu_border_radius = 4
    assign mobile_menu_bg_transparent = true
    assign mobile_menu_bg_color = '#FFFFFF'
    assign mobile_menu_padding = 8
    assign mobile_menu_stroke_width = 2
    assign mobile_menu_logo_image = blank
    assign scrolled_bg_color = '#FFFFFF'
    assign scrolled_padding_top = 12
    assign scrolled_padding_bottom = 12
    assign scrolled_shadow = true
    assign scroll_threshold = 50

    assign book_now_button_text = 'Book Now'
    assign book_now_button_url = ''
    assign book_now_button_bg_color = '#FF6B35'
    assign book_now_button_text_color = '#FFFFFF'
    assign book_now_button_hover_bg_color = '#FF8C61'
    assign book_now_button_hover_text_color = '#FFFFFF'
    assign book_now_button_font_size = 16
    assign book_now_button_font_weight = '600'
    assign book_now_button_padding_x = 20
    assign book_now_button_padding_y = 10
    assign book_now_button_border_radius = 24
    assign book_now_button_margin_left = 15
  else
    assign logo_text = header_settings.logo_text | default: shop.name
    assign logo_line1 = header_settings.logo_line1 | default: 'GLOW'
    assign logo_line2 = header_settings.logo_line2 | default: 'DECK'
    assign two_line_logo_setting = header_settings.two_line_logo
    if two_line_logo_setting == true
      assign two_line_logo = true
    else
      assign two_line_logo = false
    endif
    assign logo_image = header_settings.logo_image
    assign logo_image_before_scroll = header_settings.logo_image_before_scroll
    assign logo_image_after_scroll = header_settings.logo_image_after_scroll
    assign logo_width = header_settings.logo_width | default: 200
    assign logo_max_height = header_settings.logo_max_height | default: 60
    assign logo_font_size = header_settings.logo_font_size | default: 24
    assign logo_color = header_settings.logo_color | default: '#8B6F47'
    assign logo_color_before_scroll = header_settings.logo_color_before_scroll | default: '#8B6F47'
    assign logo_color_after_scroll = header_settings.logo_color_after_scroll | default: '#000000'
    assign menu = header_settings.menu | default: 'main-menu'
    assign menu_alignment = header_settings.menu_alignment | default: 'right'
    assign menu_font_size = settings.menu_font_size | default: 16
    assign menu_font_weight = settings.menu_font_weight | default: '500'
    assign menu_link_spacing = settings.menu_link_spacing | default: 8
    assign menu_link_color = settings.menu_link_color | default: '#8B6F47'
    assign menu_link_hover_color = settings.menu_link_hover_color | default: '#FF6B35'
    assign desktop_menu_color_before_scroll = header_settings.desktop_menu_color_before_scroll | default: '#8B6F47'
    assign desktop_menu_color_after_scroll = header_settings.desktop_menu_color_after_scroll | default: '#333333'
    assign dropdown_bg_color = settings.dropdown_bg_color | default: '#FFFFFF'
    assign dropdown_link_color = settings.dropdown_link_color | default: '#333333'
    assign dropdown_hover_bg_color = settings.dropdown_hover_bg_color | default: '#FFF8E7'
    assign dropdown_hover_color = settings.dropdown_hover_color | default: '#FF6B35'
    assign header_bg_color = settings.header_bg_color | default: '#FFFFFF'

    assign header_shadow_setting = header_settings.header_shadow
    if header_shadow_setting == false
      assign header_shadow = false
    elsif header_shadow_setting == true
      assign header_shadow = true
    else
      assign header_shadow = true
    endif

    assign header_style = header_settings.header_style | default: 'fixed'
    assign fixed_position = header_settings.fixed_position | default: 'top'
    assign position_top = header_settings.position_top | default: 0
    assign position_bottom = header_settings.position_bottom | default: 0
    assign position_left = header_settings.position_left | default: 0
    assign position_right = header_settings.position_right | default: 0
    assign header_z_index = header_settings.header_z_index | default: 1000

    assign make_header_transparent_setting = header_settings.make_header_transparent
    if make_header_transparent_setting == true
      assign make_header_transparent = true
    elsif make_header_transparent_setting == false
      assign make_header_transparent = false
    else
      assign make_header_transparent = false
    endif

    assign transparent_on_homepage_setting = header_settings.transparent_on_homepage
    if transparent_on_homepage_setting == true
      assign transparent_on_homepage = true
    elsif transparent_on_homepage_setting == false
      assign transparent_on_homepage = false
    else
      assign transparent_on_homepage = false
    endif

    assign header_padding_top = header_settings.header_padding_top | default: 16
    assign header_padding_bottom = header_settings.header_padding_bottom | default: 16
    assign header_margin_top = header_settings.header_margin_top | default: 0
    assign header_margin_bottom = header_settings.header_margin_bottom | default: 0





    assign show_mobile_menu_setting = header_settings.show_mobile_menu
    if show_mobile_menu_setting == false
      assign show_mobile_menu = false
    elsif show_mobile_menu_setting == true
      assign show_mobile_menu = true
    else
      assign show_mobile_menu = true
    endif

    assign mobile_menu_icon_color = header_settings.mobile_menu_icon_color | default: '#333333'
    assign mobile_menu_icon_size = header_settings.mobile_menu_icon_size | default: 24
    assign mobile_menu_border_color = header_settings.mobile_menu_border_color | default: '#333333'
    assign mobile_menu_border_width = header_settings.mobile_menu_border_width | default: 1
    assign mobile_menu_border_radius = header_settings.mobile_menu_border_radius | default: 4

    assign mobile_menu_bg_transparent_setting = header_settings.mobile_menu_bg_transparent
    if mobile_menu_bg_transparent_setting == false
      assign mobile_menu_bg_transparent = false
    elsif mobile_menu_bg_transparent_setting == true
      assign mobile_menu_bg_transparent = true
    else
      assign mobile_menu_bg_transparent = true
    endif

    assign mobile_menu_bg_color = header_settings.mobile_menu_bg_color | default: '#FFFFFF'
    assign mobile_menu_padding = header_settings.mobile_menu_padding | default: 8
    assign mobile_menu_stroke_width = header_settings.mobile_menu_stroke_width | default: 2
    assign mobile_menu_logo_image = header_settings.mobile_menu_logo_image

    assign scrolled_bg_color = settings.scrolled_bg_color | default: header_bg_color
    assign scrolled_padding_top = header_settings.scrolled_padding_top | default: 12
    assign scrolled_padding_bottom = header_settings.scrolled_padding_bottom | default: 12

    assign scrolled_shadow_setting = header_settings.scrolled_shadow
    if scrolled_shadow_setting == false
      assign scrolled_shadow = false
    elsif scrolled_shadow_setting == true
      assign scrolled_shadow = true
    else
      assign scrolled_shadow = true
    endif

    assign scroll_threshold = header_settings.scroll_threshold | default: 50



    assign book_now_button_text = header_settings.book_now_button_text | default: 'Book Now'
    assign book_now_button_url = header_settings.book_now_button_url | default: ''
    assign book_now_button_bg_color = settings.color_primary_orange | default: '#FF6B35'
    assign book_now_button_text_color = settings.color_white | default: '#FFFFFF'
    assign book_now_button_hover_bg_color = settings.color_light_orange | default: '#FF8C61'
    assign book_now_button_hover_text_color = settings.color_white | default: '#FFFFFF'
    assign book_now_button_font_size = header_settings.book_now_button_font_size | default: 16
    assign book_now_button_font_weight = header_settings.book_now_button_font_weight | default: '600'
    assign book_now_button_padding_x = header_settings.book_now_button_padding_x | default: 20
    assign book_now_button_padding_y = header_settings.book_now_button_padding_y | default: 10
    assign book_now_button_border_radius = header_settings.book_now_button_border_radius | default: 24
    assign book_now_button_margin_left = header_settings.book_now_button_margin_left | default: 15
  endif
-%}

<nav class="navbar navbar-expand-lg {% if header_style == 'sticky' %}navbar-sticky{% elsif header_style == 'fixed' %}{% if fixed_position == 'bottom' %}fixed-bottom{% else %}fixed-top{% endif %}{% elsif header_style == 'absolute' %}navbar-absolute{% endif %} {% if header_style == 'sticky' or header_style == 'fixed' %}navbar-scrollable{% endif %} {% if make_header_transparent or transparent_on_homepage and template.name == 'index' %}navbar-transparent{% endif %}" 
     style="background-color: {% if header_style == 'sticky' or header_style == 'fixed' %}transparent{% elsif make_header_transparent %}transparent{% elsif transparent_on_homepage and template.name == 'index' %}transparent{% else %}{{ header_bg_color }}{% endif %}; 
            padding-top: {{ header_padding_top }}px; 
            padding-bottom: {{ header_padding_bottom }}px;
            margin-top: {{ header_margin_top }}px;
            margin-bottom: {{ header_margin_bottom }}px;
            z-index: {{ header_z_index }};
            {% if header_style == 'absolute' or header_style == 'fixed' %}
            {% if position_top > 0 %}top: {{ position_top }}px;{% endif %}
            {% if position_bottom > 0 %}bottom: {{ position_bottom }}px;{% endif %}
            {% if position_left > 0 %}left: {{ position_left }}px;{% endif %}
            {% if position_right > 0 %}right: {{ position_right }}px;{% endif %}
            {% endif %}
            {% if header_shadow %}{% if make_header_transparent or transparent_on_homepage and template.name == 'index' %}box-shadow: none;{% else %}box-shadow: 0 2px 10px rgba(0,0,0,0.1);{% endif %}{% else %}box-shadow: none;{% endif %}">
  <div class="container">
    <a class="navbar-brand desktop-logo" href="{{ routes.root_url }}" style="font-size: {{ logo_font_size }}px; color: {{ logo_color_before_scroll }} !important;" data-logo-color-before="{{ logo_color_before_scroll }}" data-logo-color-after="{{ logo_color_after_scroll }}">
      {%- liquid
        assign logo_to_show_before = logo_image_before_scroll
        if logo_to_show_before == blank
          assign logo_to_show_before = logo_image
        endif
        
        assign logo_to_show_after = logo_image_after_scroll
        if logo_to_show_after == blank
          assign logo_to_show_after = logo_image
        endif
      -%}
      
      {% if logo_to_show_before != blank %}
        {%- comment -%} Logo Image - Before Scroll (shown by default) {%- endcomment -%}
        <img src="{{ logo_to_show_before | image_url: width: logo_width }}" 
             alt="{{ logo_text }}"
             class="logo-image logo-image-before-scroll"
             width="{{ logo_width }}"
             height="{{ logo_max_height }}"
             style="max-height: {{ logo_max_height }}px; width: auto; display: block;">
        
        {%- comment -%} Logo Image - After Scroll (hidden by default, shown when scrolled) {%- endcomment -%}
        {% if logo_to_show_after != blank and logo_to_show_after != logo_to_show_before %}
          <img src="{{ logo_to_show_after | image_url: width: logo_width }}" 
               alt="{{ logo_text }}"
               class="logo-image logo-image-after-scroll"
               width="{{ logo_width }}"
               height="{{ logo_max_height }}"
               style="max-height: {{ logo_max_height }}px; width: auto; display: none;">
        {% endif %}
      {% elsif two_line_logo %}
        <div class="logo-two-line">
          <span class="logo-line1">{{ logo_line1 }}</span>
          <span class="logo-line2">{{ logo_line2 }}</span>
        </div>
      {% else %}
        {{ logo_text }}
      {% endif %}
    </a>
    {% if show_mobile_menu %}
    <button class="mobile-menu-toggle" 
            type="button" 
            id="mobileMenuToggle" 
            aria-label="Toggle menu"
            style="border-color: {{ mobile_menu_border_color }};
                   border-width: {{ mobile_menu_border_width }}px;
                   border-radius: {{ mobile_menu_border_radius }}px;
                   background-color: {% if mobile_menu_bg_transparent %}transparent{% else %}{{ mobile_menu_bg_color }}{% endif %};
                   padding: {{ mobile_menu_padding }}px;
                   width: {{ mobile_menu_icon_size | plus: mobile_menu_padding | plus: mobile_menu_padding }}px;
                   height: {{ mobile_menu_icon_size | plus: mobile_menu_padding | plus: mobile_menu_padding }}px;">
      <span class="hamburger-icon" style="width: {{ mobile_menu_icon_size }}px; height: {{ mobile_menu_icon_size }}px;">
        <span class="hamburger-line" style="background-color: {{ mobile_menu_icon_color }};"></span>
        <span class="hamburger-line" style="background-color: {{ mobile_menu_icon_color }};"></span>
        <span class="hamburger-line" style="background-color: {{ mobile_menu_icon_color }};"></span>
      </span>
    </button>
    {% endif %}
    <div class="collapse navbar-collapse d-none d-lg-block" id="navbarNav">
      <ul class="navbar-nav {% if menu_alignment == 'left' %}me-auto{% elsif menu_alignment == 'right' %}ms-auto{% else %}mx-auto{% endif %}">
        {% if menu != blank %}
          {% for link in linklists[menu].links %}
            {% if link.links != blank %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle desktop-menu-link" 
                   href="{{ link.url }}" 
                   role="button" 
                   data-bs-toggle="dropdown"
                   data-desktop-menu-color-before="{{ desktop_menu_color_before_scroll }}"
                   data-desktop-menu-color-after="{{ desktop_menu_color_after_scroll }}">
                  {{ link.title }}
                </a>
                <ul class="dropdown-menu" 
                    style="background-color: {{ dropdown_bg_color }} !important;
                           border-color: rgba(0, 0, 0, 0.1) !important;">
                  {% for childlink in link.links %}
                    <li>
                      <a class="dropdown-item" 
                         href="{{ childlink.url }}"
                         style="color: {{ dropdown_link_color }} !important;
                                transition: background-color 0.3s ease, color 0.3s ease;">
                        {{ childlink.title }}
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              </li>
            {% else %}
              <li class="nav-item">
                <a class="nav-link desktop-menu-link {% if link.active or request.page_type == 'index' and link.title == 'Home' %}active{% endif %}" 
                   href="{{ link.url }}"
                   style="margin: 0 var(--menu-link-spacing);"
                   data-desktop-menu-color-before="{{ desktop_menu_color_before_scroll }}"
                   data-desktop-menu-color-after="{{ desktop_menu_color_after_scroll }}">
                  {{ link.title }}
                </a>
              </li>
            {% endif %}
          {% endfor %}
        {% endif %}
      </ul>
      
        <div class="navbar-actions d-flex align-items-center ms-auto">
            <!-- Cart Icon -->
            <a href="{{ routes.cart_url }}" 
               class="cart-icon-link header-icon me-3"
               aria-label="Cart"
               style="position: relative;
                      display: inline-flex;
                      align-items: center;
                      text-decoration: none;
                      color: var(--menu-link-color, {{ menu_link_color }}) !important;
                      transition: color 0.3s ease;">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <circle cx="9" cy="21" r="1"></circle>
                <circle cx="20" cy="21" r="1"></circle>
                <path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path>
              </svg>
              {% if cart.item_count > 0 %}
                <span class="cart-count-badge" 
                      style="position: absolute;
                             top: -8px;
                             right: -8px;
                             background-color: var(--primary-orange, #FF6B35);
                             color: #FFFFFF;
                             border-radius: 50%;
                             width: 20px;
                             height: 20px;
                             display: flex;
                             align-items: center;
                             justify-content: center;
                             font-size: 11px;
                             font-weight: 600;
                             line-height: 1;">
                  {{ cart.item_count }}
                </span>
              {% endif %}
            </a>
            
            {%- liquid
              assign button_href = book_now_button_url
              if button_href == blank
                assign button_href = '#'
              endif
            -%}
            <a href="{{ button_href }}" 
               class="book-now-button btn"
               style="background-color: {{ book_now_button_bg_color }};
                      color: {{ book_now_button_text_color }} !important;
                      font-size: {{ book_now_button_font_size }}px;
                      font-weight: {{ book_now_button_font_weight }};
                      padding: {{ book_now_button_padding_y }}px {{ book_now_button_padding_x }}px;
                      border-radius: {{ book_now_button_border_radius }}px;
                      margin-left: {{ book_now_button_margin_left }}px;
                      text-decoration: none;
                      border: none;
                      transition: all 0.3s ease;
                      white-space: nowrap;
                      display: inline-flex;
                      align-items: center;">
              {{ book_now_button_text }}
            </a>
        </div>
    </div>
  </div>
</nav>

<!-- Mobile Menu Overlay (Slide-out from LEFT) -->
<div class="mobile-menu-overlay" id="mobileMenuOverlay">
  <div class="mobile-menu-backdrop" id="mobileMenuBackdrop"></div>
  <div class="mobile-menu-panel" id="mobileMenuPanel">
    <!-- Menu Header with Logo -->
    <div class="mobile-menu-header">
      <a class="mobile-menu-logo" href="{{ routes.root_url }}" style="color: {{ logo_color }}; font-size: {{ logo_font_size }}px;">
        {%- liquid
          assign logo_to_show_mobile = mobile_menu_logo_image
          if logo_to_show_mobile == blank
            assign logo_to_show_mobile = logo_image_before_scroll
          endif
          if logo_to_show_mobile == blank
            assign logo_to_show_mobile = logo_image
          endif
        -%}
        
        {% if logo_to_show_mobile != blank %}
          <img src="{{ logo_to_show_mobile | image_url: width: logo_width }}" 
               alt="{{ logo_text }}"
               class="mobile-menu-logo-image"
               width="{{ logo_width }}"
               height="{{ logo_max_height }}"
               style="max-height: {{ logo_max_height }}px; width: auto; display: block;">
        {% elsif two_line_logo %}
          <div class="logo-two-line">
            <span class="logo-line1">{{ logo_line1 }}</span>
            <span class="logo-line2">{{ logo_line2 }}</span>
          </div>
        {% else %}
          {{ logo_text }}
        {% endif %}
      </a>
      <button class="mobile-menu-close" id="mobileMenuClose" aria-label="Close menu">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <line x1="18" y1="6" x2="6" y2="18"></line>
          <line x1="6" y1="6" x2="18" y2="18"></line>
        </svg>
      </button>
    </div>
    
    <!-- Menu Navigation -->
    <nav class="mobile-menu-nav">
      <ul class="mobile-menu-list">
        {% if menu != blank %}
          {% for link in linklists[menu].links %}
            {% if link.links != blank %}
              <li class="mobile-menu-item mobile-menu-item-dropdown">
                <a class="mobile-menu-link mobile-menu-link-dropdown" 
                   href="{{ link.url }}"
                   data-dropdown-toggle="{{ link.handle }}">
                  <span class="menu-link-text">{{ link.title }}</span>
                  <svg class="menu-link-arrow" width="16" height="16" viewBox="0 0 16 16" fill="none" stroke="currentColor">
                    <path d="M6 12l4-4-4-4"></path>
                  </svg>
                </a>
                <ul class="mobile-menu-submenu" id="submenu-{{ link.handle }}">
                  {% for childlink in link.links %}
                    <li class="mobile-menu-subitem">
                      <a class="mobile-menu-sublink" href="{{ childlink.url }}">
                        {{ childlink.title }}
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              </li>
            {% else %}
              <li class="mobile-menu-item">
                <a class="mobile-menu-link {% if link.active %}active{% endif %}" 
                   href="{{ link.url }}"
                   style="color: {{ menu_link_color }};
                          font-family: var(--menu-font-family, inherit);
                          font-size: var(--menu-font-size, 16px);
                          font-weight: var(--menu-font-weight, 500);">
                  <span class="menu-link-text">{{ link.title }}</span>
                  <svg class="menu-link-arrow" width="16" height="16" viewBox="0 0 16 16" fill="none" stroke="currentColor">
                    <path d="M6 12l4-4-4-4"></path>
                  </svg>
                </a>
              </li>
            {% endif %}
          {% endfor %}
        {% endif %}
      </ul>
    </nav>
    
    <!-- Menu Footer with Cart and Book Now Button -->
    <div class="mobile-menu-footer">
      <!-- Cart Icon for Mobile -->
      <a href="{{ routes.cart_url }}" 
         class="mobile-cart-link"
         aria-label="Cart"
         style="display: inline-flex;
                align-items: center;
                justify-content: center;
                padding: 12px;
                margin-right: 10px;
                text-decoration: none;
                color: {{ menu_link_color }};
                position: relative;">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <circle cx="9" cy="21" r="1"></circle>
          <circle cx="20" cy="21" r="1"></circle>
          <path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path>
        </svg>
        {% if cart.item_count > 0 %}
          <span style="position: absolute;
                        top: 8px;
                        right: 8px;
                        background-color: var(--primary-orange, #FF6B35);
                        color: #FFFFFF;
                        border-radius: 50%;
                        width: 18px;
                        height: 18px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 10px;
                        font-weight: 600;
                        line-height: 1;">
            {{ cart.item_count }}
          </span>
        {% endif %}
      </a>
      
      {%- liquid
        assign button_href = book_now_button_url
        if button_href == blank
          assign button_href = '#'
        endif
      -%}
      <a href="{{ button_href }}" 
         class="mobile-menu-cta"
         style="background-color: {{ book_now_button_bg_color }};
                color: {{ book_now_button_text_color }} !important;
                font-size: {{ book_now_button_font_size }}px;
                font-weight: {{ book_now_button_font_weight }};
                padding: {{ book_now_button_padding_y }}px {{ book_now_button_padding_x }}px;
                border-radius: {{ book_now_button_border_radius }}px;">
        {{ book_now_button_text }}
      </a>
    </div>
  </div>
</div>

<style>
  /* ============================================
     DESKTOP MENU COLOR CSS VARIABLES
     Define our own CSS variables to override theme.liquid
     ============================================ */
  :root {
    --desktop-menu-color-before-scroll: {{ desktop_menu_color_before_scroll }};
    --desktop-menu-color-after-scroll: {{ desktop_menu_color_after_scroll }};
  }
  
  .navbar-sticky {
    position: sticky;
    top: 0;
  }
  
  .navbar.fixed-top {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .navbar.fixed-bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  .navbar-absolute {
    position: absolute;
    width: 100%;
  }
  
  {% if header_style == 'fixed' and fixed_position == 'top' %}
  body {
    padding-top: calc({{ position_top }}px + {{ header_margin_top }}px + {{ header_padding_top }}px + {{ header_padding_bottom }}px + 1.5rem);
  }
  {% elsif header_style == 'fixed' and fixed_position == 'bottom' %}
  body {
    padding-bottom: calc({{ position_bottom }}px + {{ header_margin_top }}px + {{ header_padding_top }}px + {{ header_padding_bottom }}px + 1.5rem);
  }
  {% endif %}
  
  .navbar-transparent {
    background-color: transparent !important;
    box-shadow: none !important;
  }
  

  .navbar-actions {
    gap: 0.5rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;
  }
  
  .book-now-button {
    cursor: pointer;
    flex-shrink: 0;
    z-index: 1;
  }
  
  .book-now-button:hover {
    background-color: {{ book_now_button_hover_bg_color }} !important;
    color: {{ book_now_button_hover_text_color }} !important;
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  }
  
  /* Dropdown Menu Styles - Direct Liquid Variables for Maximum Specificity */
  .navbar .dropdown-menu,
  .navbar-nav .dropdown-menu,
  .nav-item .dropdown-menu {
    background-color: {{ dropdown_bg_color }} !important;
    border-color: rgba(0, 0, 0, 0.1) !important;
  }
  
  .navbar .dropdown-item,
  .navbar-nav .dropdown-item,
  .nav-item .dropdown-item,
  .dropdown-menu .dropdown-item {
    color: {{ dropdown_link_color }} !important;
  }
  
  .navbar .dropdown-item:hover,
  .navbar-nav .dropdown-item:hover,
  .nav-item .dropdown-item:hover,
  .dropdown-menu .dropdown-item:hover,
  .navbar .dropdown-item:focus,
  .navbar-nav .dropdown-item:focus,
  .nav-item .dropdown-item:focus,
  .dropdown-menu .dropdown-item:focus,
  .navbar .dropdown-item.active,
  .navbar-nav .dropdown-item.active,
  .nav-item .dropdown-item.active,
  .dropdown-menu .dropdown-item.active {
    background-color: {{ dropdown_hover_bg_color }} !important;
    color: {{ dropdown_hover_color }} !important;
  }
  
  /* ============================================
     MOBILE MENU OVERLAY (Slide from LEFT)
     ============================================ */
  
  /* Mobile Menu Overlay Container */
  .mobile-menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }
  
  .mobile-menu-overlay.active {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }
  
  /* Dark Backdrop with Blur */
  .mobile-menu-backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
  }
  
  /* Slide-Out Menu Panel (from LEFT) */
  .mobile-menu-panel {
    position: absolute;
    top: 0;
    left: 0;
    width: 85%;
    max-width: 400px;
    height: 100%;
    background: #ffffff;
    box-shadow: 4px 0 20px rgba(0, 0, 0, 0.15);
    transform: translateX(-100%);
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }
  
  .mobile-menu-overlay.active .mobile-menu-panel {
    transform: translateX(0);
  }
  
  /* Menu Header */
  .mobile-menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #e5e5e5;
    flex-shrink: 0;
  }
  
  .mobile-menu-logo {
    font-weight: 600;
    text-decoration: none;
  }
  
  .mobile-menu-close {
    background: none;
    border: none;
    padding: 8px;
    cursor: pointer;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    transition: background-color 0.2s;
    width: 32px;
    height: 32px;
  }
  
  .mobile-menu-close:hover {
    background-color: #f5f5f5;
  }
  
  .mobile-menu-close svg {
    width: 24px;
    height: 24px;
  }
  
  /* Menu Navigation */
  .mobile-menu-nav {
    flex: 1;
    padding: 20px 0;
    overflow-y: auto;
  }
  
  .mobile-menu-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .mobile-menu-item {
    border-bottom: 1px solid #f0f0f0;
  }
  
  .mobile-menu-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 20px;
    text-decoration: none;
    transition: background-color 0.2s, color 0.2s;
    min-height: 48px;
  }
  
  .mobile-menu-link:hover,
  .mobile-menu-link:active {
    background-color: #f8f8f8;
  }
  
  .mobile-menu-link.active {
    font-weight: 600;
    color: {{ menu_link_hover_color }} !important;
  }
  
  .menu-link-text {
    flex: 1;
  }
  
  .menu-link-arrow {
    opacity: 0.5;
    transition: transform 0.2s, opacity 0.2s;
  }
  
  .mobile-menu-link:hover .menu-link-arrow {
    transform: translateX(4px);
    opacity: 1;
  }
  
  /* Dropdown Submenu Support */
  .mobile-menu-item-dropdown {
    position: relative;
  }
  
  .mobile-menu-link-dropdown {
    cursor: pointer;
  }
  
  .mobile-menu-submenu {
    list-style: none;
    margin: 0;
    padding: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    background-color: #fafafa;
  }
  
  .mobile-menu-submenu.active {
    max-height: 500px;
  }
  
  .mobile-menu-subitem {
    border-bottom: 1px solid #f0f0f0;
  }
  
  .mobile-menu-sublink {
    display: block;
    padding: 14px 20px 14px 40px;
    text-decoration: none;
    color: {{ dropdown_link_color }};
    font-size: 15px;
    transition: background-color 0.2s, color 0.2s;
    min-height: 44px;
  }
  
  .mobile-menu-sublink:hover {
    background-color: {{ dropdown_hover_bg_color }};
    color: {{ dropdown_hover_color }};
  }
  
  /* Menu Footer with CTA */
  .mobile-menu-footer {
    padding: 20px;
    border-top: 1px solid #e5e5e5;
    flex-shrink: 0;
    background: #fafafa;
  }
  
  .mobile-menu-cta {
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.2s, transform 0.2s;
    border: none;
  }
  
  .mobile-menu-cta:hover {
    transform: translateY(-1px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  }
  
  .mobile-menu-cta:active {
    transform: translateY(0);
  }
  
  /* Hamburger Icon Animation */
  .hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
  }
  
  .hamburger-line {
    width: 100%;
    height: 2px;
    border-radius: 2px;
    transition: all 0.3s ease;
  }
  
  /* Animate hamburger to X when menu is open */
  .mobile-menu-toggle.active .hamburger-line:nth-child(1) {
    transform: rotate(45deg) translateY(8px);
  }
  
  .mobile-menu-toggle.active .hamburger-line:nth-child(2) {
    opacity: 0;
    transform: scaleX(0);
  }
  
  .mobile-menu-toggle.active .hamburger-line:nth-child(3) {
    transform: rotate(-45deg) translateY(-8px);
  }
  
  /* Prevent body scroll when menu is open */
  body.menu-open {
    overflow: hidden;
  }
  
  /* Hide mobile menu on desktop */
  @media (min-width: 992px) {
    .mobile-menu-overlay {
      display: none !important;
    }
    
    .mobile-menu-toggle {
      display: none !important;
    }
  }
  
  /* Show desktop menu on desktop */
  @media (min-width: 992px) {
    .collapse.navbar-collapse.d-none.d-lg-block {
      display: flex !important;
    }
  }

  /* Mobile responsive adjustments for Book Now button */
  @media (max-width: 991.98px) {
    .navbar-actions {
      margin-left: 0 !important;
      margin-top: 1rem;
      flex-direction: column;
      width: 100%;
      align-items: stretch;
    }
    
    .book-now-button {
      margin-left: 0 !important;
      width: 100%;
      justify-content: center;
    }
    
    .navbar-nav {
      width: 100%;
      margin-bottom: 0.5rem;
    }
    

  }
  
  /* Initial state for sticky/fixed headers - transparent */
  .navbar-scrollable {
    background-color: transparent !important;
    transition: background-color 0.3s ease, padding 0.3s ease, box-shadow 0.3s ease;
  }
  
  /* Scrolled Header Styles - apply background when scrolled */
  .navbar-scrollable.navbar-scrolled {
    background-color: {% if scrolled_bg_color != blank %}{{ scrolled_bg_color }}{% else %}{{ header_bg_color }}{% endif %} !important;
    padding-top: {{ scrolled_padding_top }}px !important;
    padding-bottom: {{ scrolled_padding_bottom }}px !important;
    {% if scrolled_shadow %}box-shadow: 0 2px 15px rgba(0,0,0,0.15) !important;{% else %}box-shadow: none !important;{% endif %}
  }
  
  /* Ensure scrolled styles override transparent styles */
  .navbar-scrollable.navbar-scrolled.navbar-transparent {
    background-color: {% if scrolled_bg_color != blank %}{{ scrolled_bg_color }}{% else %}{{ header_bg_color }}{% endif %} !important;
  }
  
  /* ============================================
     DESKTOP MENU COLORS (Scroll-Based)
     Only affects desktop menu, NOT mobile menu
     Ultra-high specificity to override theme.liquid CSS variables
     ============================================ */
  
  /* Desktop menu links - Before scroll (default) - Ultra-high specificity */
  /* Using direct color values to override theme.liquid CSS variables */
  html body .navbar:not(.navbar-scrolled) .navbar-nav .nav-item .nav-link.desktop-menu-link,
  html body .navbar:not(.navbar-scrolled) .navbar-nav .nav-link.desktop-menu-link,
  html body .navbar:not(.navbar-scrolled) .nav-item .nav-link.desktop-menu-link,
  html body .navbar:not(.navbar-scrolled) .nav-link.dropdown-toggle.desktop-menu-link,
  html body .navbar .navbar-nav .nav-item .nav-link.desktop-menu-link:not(.navbar-scrolled),
  html body .navbar .navbar-nav .nav-link.desktop-menu-link:not(.navbar-scrolled) {
    color: {{ desktop_menu_color_before_scroll }} !important;
    transition: color 0.3s ease !important;
  }
  
  /* Desktop menu links - After scroll - Ultra-high specificity */
  html body .navbar.navbar-scrolled .navbar-nav .nav-item .nav-link.desktop-menu-link,
  html body .navbar.navbar-scrolled .navbar-nav .nav-link.desktop-menu-link,
  html body .navbar.navbar-scrolled .nav-item .nav-link.desktop-menu-link,
  html body .navbar.navbar-scrolled .nav-link.dropdown-toggle.desktop-menu-link {
    color: {{ desktop_menu_color_after_scroll }} !important;
  }
  
  /* Ensure mobile menu is NOT affected - keep original colors */
  .mobile-menu-link,
  .mobile-menu-nav .mobile-menu-link,
  .mobile-menu-overlay .mobile-menu-link {
    color: {{ menu_link_color }} !important;
  }
  
  /* ============================================
     LOGO COLORS (Scroll-Based)
     Only affects desktop logo text, NOT logo images
     ============================================ */
  
  /* Logo - Before scroll (default) - Maximum specificity */
  html body .navbar:not(.navbar-scrolled) .navbar-brand.desktop-logo,
  html body .navbar .navbar-brand.desktop-logo:not(.navbar-scrolled) {
    color: {{ logo_color_before_scroll }} !important;
    transition: color 0.3s ease !important;
  }
  
  /* Logo - After scroll - Maximum specificity */
  html body .navbar.navbar-scrolled .navbar-brand.desktop-logo {
    color: {{ logo_color_after_scroll }} !important;
  }
  
  /* Logo text elements (for two-line logos) - Before scroll */
  html body .navbar:not(.navbar-scrolled) .navbar-brand.desktop-logo .logo-line1,
  html body .navbar:not(.navbar-scrolled) .navbar-brand.desktop-logo .logo-line2 {
    color: {{ logo_color_before_scroll }} !important;
  }
  
  /* Logo text elements (for two-line logos) - After scroll */
  html body .navbar.navbar-scrolled .navbar-brand.desktop-logo .logo-line1,
  html body .navbar.navbar-scrolled .navbar-brand.desktop-logo .logo-line2 {
    color: {{ logo_color_after_scroll }} !important;
  }
  
  /* ============================================
     LOGO IMAGE SWAPPING (Scroll-Based)
     Show/hide different logo images on scroll
     ============================================ */
  
  /* Logo image - Before scroll (shown by default) */
  html body .navbar:not(.navbar-scrolled) .logo-image-before-scroll {
    display: block !important;
  }
  
  html body .navbar.navbar-scrolled .logo-image-before-scroll {
    display: none !important;
  }
  
  /* Logo image - After scroll (hidden by default, shown when scrolled) */
  html body .navbar:not(.navbar-scrolled) .logo-image-after-scroll {
    display: none !important;
  }
  
  html body .navbar.navbar-scrolled .logo-image-after-scroll {
    display: block !important;
  }
</style>

<script>
  (function() {
    const navbar = document.querySelector('.navbar-sticky, .fixed-top, .fixed-bottom');
    if (!navbar) return;
    
    const scrollThreshold = {{ scroll_threshold }};
    const headerStyle = '{{ header_style }}';
    
    // Only apply scroll behavior for sticky or fixed headers
    if (headerStyle !== 'sticky' && headerStyle !== 'fixed') return;
    
    function handleScroll() {
      const scrollY = window.pageYOffset || document.documentElement.scrollTop;
      
      // Get all desktop menu links
      const desktopMenuLinks = navbar.querySelectorAll('.desktop-menu-link');
      const menuBeforeScrollColor = '{{ desktop_menu_color_before_scroll }}';
      const menuAfterScrollColor = '{{ desktop_menu_color_after_scroll }}';
      
      // Get logo element
      const logo = navbar.querySelector('.navbar-brand.desktop-logo');
      const logoBeforeScrollColor = '{{ logo_color_before_scroll }}';
      const logoAfterScrollColor = '{{ logo_color_after_scroll }}';
      
      // Get logo images
      const logoImageBefore = navbar.querySelector('.logo-image-before-scroll');
      const logoImageAfter = navbar.querySelector('.logo-image-after-scroll');
      
      if (scrollY > scrollThreshold) {
        navbar.classList.add('navbar-scrolled');
        // Directly set menu color via JavaScript as backup
        desktopMenuLinks.forEach(link => {
          link.style.setProperty('color', menuAfterScrollColor, 'important');
        });
        // Directly set logo color via JavaScript as backup (for text logos)
        if (logo) {
          logo.style.setProperty('color', logoAfterScrollColor, 'important');
          // Also update logo text elements if they exist
          const logoLines = logo.querySelectorAll('.logo-line1, .logo-line2');
          logoLines.forEach(line => {
            line.style.setProperty('color', logoAfterScrollColor, 'important');
          });
        }
        // Swap logo images
        if (logoImageBefore) {
          logoImageBefore.style.setProperty('display', 'none', 'important');
        }
        if (logoImageAfter) {
          logoImageAfter.style.setProperty('display', 'block', 'important');
        }
      } else {
        navbar.classList.remove('navbar-scrolled');
        // Directly set menu color via JavaScript as backup
        desktopMenuLinks.forEach(link => {
          link.style.setProperty('color', menuBeforeScrollColor, 'important');
        });
        // Directly set logo color via JavaScript as backup (for text logos)
        if (logo) {
          logo.style.setProperty('color', logoBeforeScrollColor, 'important');
          // Also update logo text elements if they exist
          const logoLines = logo.querySelectorAll('.logo-line1, .logo-line2');
          logoLines.forEach(line => {
            line.style.setProperty('color', logoBeforeScrollColor, 'important');
          });
        }
        // Swap logo images back
        if (logoImageBefore) {
          logoImageBefore.style.setProperty('display', 'block', 'important');
        }
        if (logoImageAfter) {
          logoImageAfter.style.setProperty('display', 'none', 'important');
        }
      }
    }
    
    // Check on load
    handleScroll();
    
    // Listen for scroll events (throttled for performance)
    let ticking = false;
    window.addEventListener('scroll', function() {
      if (!ticking) {
        window.requestAnimationFrame(function() {
          handleScroll();
          ticking = false;
        });
        ticking = true;
      }
    });
  })();
  
  // ============================================
  // MOBILE MENU FUNCTIONALITY (Slide from LEFT)
  // ============================================
  (function() {
    const toggle = document.getElementById('mobileMenuToggle');
    const overlay = document.getElementById('mobileMenuOverlay');
    const backdrop = document.getElementById('mobileMenuBackdrop');
    const panel = document.getElementById('mobileMenuPanel');
    const closeBtn = document.getElementById('mobileMenuClose');
    const body = document.body;
    
    if (!toggle || !overlay) return; // Exit if elements don't exist
    
    function openMenu() {
      overlay.classList.add('active');
      toggle.classList.add('active');
      body.classList.add('menu-open');
      document.documentElement.style.overflow = 'hidden';
    }
    
    function closeMenu() {
      overlay.classList.remove('active');
      toggle.classList.remove('active');
      body.classList.remove('menu-open');
      document.documentElement.style.overflow = '';
    }
    
    // Open menu
    toggle.addEventListener('click', function(e) {
      e.preventDefault();
      e.stopPropagation();
      openMenu();
    });
    
    // Close menu
    if (closeBtn) {
      closeBtn.addEventListener('click', function(e) {
        e.preventDefault();
        e.stopPropagation();
        closeMenu();
      });
    }
    
    if (backdrop) {
      backdrop.addEventListener('click', function(e) {
        e.preventDefault();
        closeMenu();
      });
    }
    
    // Close on escape key
    document.addEventListener('keydown', function(e) {
      if (e.key === 'Escape' && overlay.classList.contains('active')) {
        closeMenu();
      }
    });
    
    // Close menu when clicking a link (non-dropdown)
    const menuLinks = document.querySelectorAll('.mobile-menu-link:not(.mobile-menu-link-dropdown)');
    menuLinks.forEach(link => {
      link.addEventListener('click', function() {
        setTimeout(closeMenu, 100);
      });
    });
    
    // Dropdown submenu toggle
    const dropdownToggles = document.querySelectorAll('.mobile-menu-link-dropdown');
    dropdownToggles.forEach(toggle => {
      toggle.addEventListener('click', function(e) {
        e.preventDefault();
        const dropdownId = this.getAttribute('data-dropdown-toggle');
        const submenu = document.getElementById('submenu-' + dropdownId);
        
        if (submenu) {
          submenu.classList.toggle('active');
          const arrow = this.querySelector('.menu-link-arrow');
          if (arrow) {
            arrow.style.transform = submenu.classList.contains('active') 
              ? 'rotate(90deg)' 
              : 'rotate(0deg)';
          }
        }
      });
    });
  })();
</script>

